<section class="application__new">
  <div class="container">
    <h1>Submit your application</h1>

    <div class="application__new__project__resume">
      <p> <strong><%= @project.title%></strong></p>
      <p><%= @project.content %></p>
    </div>

    <%= simple_form_for [@project, @application] do |f| %>

      <%= f.input :quote %>
      <%= f.input :estimated_duration %>
      <%= f.input :comment %>
      <%= f.input :start_date %>
      <%= f.submit "Submit", class: "btn btn--primary" %>
    <% end %>
  </div>
</section>
