
<div class="banner project__banner" style="background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(<%= project_image_path_for(@project) %>)">
  <div class="container">
    <h1 class="project__title"><%= @project.title %></h1>
  </div>
</div>

<section class="project__details">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <span class="project__details__creator">
          <%= image_tag "http://kitt.lewagon.com/placeholder/users/alexandrebk", class: "avatar", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <%= "#{@project.user.firstname.capitalize} #{@project.user.lastname}" %>
        </span>
        <span class="project__details__category"><%= icon('fas', 'tag') %><%= @project.category.name %></span>
        <span class="project__details__city"><%= icon('fas', 'map-marker-alt') %><%= @project.city %></span>
      </div>
      <div class="col-lg-4">
        <div class="project__actions">
          <% if policy(@application).create? %>
            <%= link_to(new_project_application_path(@project), class: "btn btn--secondary") do %>
              <%= icon('fas', 'pencil-alt') %>Apply
            <% end %>
          <% end %>
          <% if policy(@project).update? %>
              <%= link_to(edit_project_path(@project), class: "btn btn--secondary") do %>
                <%= icon('fas', 'edit') %>Edit
              <% end %>
          <% end %>
          <% if policy(@project).destroy?%>
            <%= link_to(project_path(@project), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn--secondary") do %>
              <%= icon('fas', 'trash') %>Delete
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="project__body">
  <div class="container">
    <div class="row">
      <div class="col-lg-10">
        <p><%= @project.content %></p>
      </div>
      <div class="col-lg-2">

      </div>
    </div>
  </div>
</section>

<% @applications.each do |application| %>
  <div class="card">
    <h2>
      Name: <%= application.user.firstname %> <%= application.user.lastname %>
    </h2>
    <p>
      Quote: $ <%= application.quote %>
    </p>
    <p>
      Start Date: <%= application.start_date %>
    </p>
    <p>
      Description: <%= application.comment %>
    </p>
    <p>
      Duration: <%= application.estimated_duration %>
    </p>
    <p>
      Selected?: <%= application.selected? %>
    </p>
    <% unless application.selected %>
    <%= link_to 'Select this application', select_application_path(application,@project) %>
    <% end %>
  </div>
<% end %>

<div>
  <% if @review != nil %>
    <br>
    <h2>You added a review</h2>
    <br>
    <p><%= @review.content %></p>
    <p><%= @review.destinator.firstname %></p>
  <% end %>
</div>
