<h1><%= @project.title%></h1>
<p><%= @project.content %></p>
<p><%= @project.city %></p>
<p><%= @project.user.firstname %></p>
<!-- if selected is true, user can add a review via a button else no button -->
<%= link_to 'Add a review', new_project_review_path(@project) %>
<%= link_to 'Apply', new_project_application_path(@project) %>
